@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1;
  font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  background: #f3f3f3;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.content_body .content_section .content_list > li .content_parts h3:before, .basic_list > li:before {
  content: "";
  display: block;
  position: absolute;
}

.content_body .content_section .content_list > li .content_parts h3:before {
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.header {
  padding: 10px;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #3d3d3d;
}
.header h1 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #ffffff;
  line-height: 1.4;
  font-weight: bold;
}
.header .summary {
  margin-top: 10px;
  font-size: 10px;
  font-size: 1.0rem;
  color: #ffffff;
  line-height: 1.4;
}
.header .profile {
  margin-top: 10px;
  padding: 10px;
  content: "pc";
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
  background: #ffffff;
}
.header .profile img {
  margin: 0 auto;
  display: block;
}
.header .profile dl {
  margin-top: 10px;
}
.header .profile dl dt, .header .profile dl dd {
  color: #333333;
  line-height: 1.4;
}
.header .profile dl dt {
  padding-left: 8px;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  position: relative;
}
.header .profile dl dt:before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  border: transparent solid 4px;
  border-left: #3d3d3d solid 6px;
}
.header .profile dl dd {
  margin-left: 8px;
  font-size: 12px;
  font-size: 1.2rem;
}
.nav {
  width: 180px;
  position: fixed;
  top: 50px;
  right: 0;
}
.nav ul {
  width: 180px;
  position: relative;
  overflow: hidden;
}
.nav ul li {
  margin: 0 0 10px;
  padding: 0 0 0 24px;
  width: 180px;
  height: 40px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  position: relative;
  left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
  border-top: transparent solid 10px;
  border-bottom: transparent solid 10px;
  border-left-style: solid;
  border-left-width: 5px;
  background: #ffffff;
  cursor: pointer;
}
.nav ul li.intro {
  border-left-color: #686868;
}
.nav ul li.web {
  border-left-color: #5a2b2b;
}
.nav ul li.biz {
  border-left-color: #2b2e5a;
}
.nav ul li:before {
  margin: auto;
  width: 6px;
  height: 6px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  border-top: #cccccc solid 2px;
  border-left: #cccccc solid 2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.content_body {
  margin: 0 190px 0 210px;
  padding-top: 50px;
  color: #333333;
}
.content_body .content_section {
  padding: 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #ffffff;
}
.content_body .content_section h2 {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: bold;
}
.content_body .content_section .content_list {
  margin-top: 10px;
}
.content_body .content_section .content_list > li {
  margin-left: 20px;
  padding: 0 10px 10px 30px;
  position: relative;
  border-bottom: #cccccc solid 1px;
}
.content_body .content_section .content_list > li .content_parts h3 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.8;
  position: relative;
}
.content_body .content_section .content_list > li .content_parts h3:before {
  top: 4px;
  left: -16px;
  border-width: 8px;
}
.content_body .content_section .content_list > li .content_parts h3.close:before {
  border-left: #cccccc solid 10px;
}
.content_body .content_section.intro h2 {
  border-left: #686868 solid 10px;
  border-bottom: #686868 solid 1px;
}

.basic_list {
  padding: 0 0 0 20px;
}
.basic_list > li {
  margin-top: 10px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  position: relative;
}
.basic_list > li:before {
  width: 8px;
  height: 8px;
  top: 5px;
  left: -16px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #dddddd;
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){
  .profile_btn, .menu_btn{
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    display: none;
    position: fixed;
    top: 5px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    background-color: rgba(61, 61, 61, 0.7);
  }
  .profile_back, .menu_back{
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    cursor: pointer;
  }
  .profile_back:before, .menu_back:before, .profile_back:after, .menu_back:after{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    border-right: #e3e3e3 solid 3px;
  }
  .profile_back:before, .menu_back:before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .profile_back:after, .menu_back:after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header{
    padding: 6px 60px;
    width: 100%;
    height: 60px;
    position: static;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #3d3d3d;
  }
  .header h1{
    font-size: 1.8rem;
    line-height: 1.0;
  }
  .header .summary{
    margin-top: 2px;
    line-height: 1.2;
  }
  .header .profile{
    margin-top: 0;
    padding: 20px 10px 0;
    width: 250px;
    height: 100%;
    content: "sp";
    position: fixed;
    top: 0;
    left: -260px;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
            box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  .header .profile dl dt{
    padding-left: 9px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .header .profile dl dt:before{
    border: transparent solid 5px;
    border-left: #3d3d3d solid 7px;
  }
  .header .profile dl dd{
    margin-left: 9px;
    font-size: 1.4rem;
  }
  .profile_btn{
    left: 5px;
    background-image: url(../img/sprite.png);
    background-position: -843.5px -50px;
    width: 50px;
    height: 50px;
    -webkit-background-size: 893.5px 843.5px;
            background-size: 893.5px 843.5px;
  }
  .profile_back:before, .profile_back:after{
    right: 15px;
  }
  .profile_back:before{
    top: -1px;
  }
  .profile_back:after{
    top: 20px;
  }
  .nav{
    width: 200px;
    top: 0;
    right: -260px;
    z-index: 2;
  }
  .nav ul{
    width: 200px;
  }
  .nav ul li{
    margin: 0 0 1px;
    padding: 0 0 0 24px;
    width: 200px;
  }
  .menu_btn{
    right: 5px;
    background-image: url(../img/sprite.png);
    background-position: -843.5px 0px;
    width: 50px;
    height: 50px;
    -webkit-background-size: 893.5px 843.5px;
            background-size: 893.5px 843.5px;
  }
  .menu_back:before, .menu_back:after{
    left: -6px;
  }
  .menu_back:before{
    top: -1px;
  }
  .menu_back:after{
    top: 20px;
  }
}
