<header class="header js-header">
            <div class="header_inner">
                <h1>uraban.info</h1>
                <p class="summary">フロントエンドエンジニア・うらばんのポートフォリオ兼実験場</p>
                <div class="sp_profile_button js-switch">うらばんのプロフィール、スマホからはこちら</div>
                <div class="fixed_bar">
                    <%- include('./_nav') %>
                    <%- include('./_profile') %>
                </div>
            </div>
        </header>