        <nav class="nav js-menu">
            <ul class="js-nav">
                <li class="intro">自己紹介</li>
                <li class="web">Web技術あれこれ</li>
                <li class="biz">個人事業主あれこれ</li>
            </ul>
        </nav>