		<nav class="nav js-menu">
		    <ul class="js-nav">
		        <li class="intro"><span>自己紹介</span></li>
		        <li class="web"><span>Web技術あれこれ</span></li>
		        <li class="biz"><span>個人事業主あれこれ</span></li>
		        <li class="other"><span>その他</span></li>
		    </ul>
		</nav>