<nav class="nav">
    <ul class="js-nav">
        <li class="intro">自己紹介</li>
        <li class="web">Web技術あれこれ</li>
        <li class="biz">個人事業主あれこれ</li>
        <li class="other">その他</li>
    </ul>
</nav>