<li class="section_block">
    <section>
        <h3 class="close">このサイトについて</h3>
        <div class="section_parts">
            <ul class="basic_list">
                <li>このサイトはWebフロントエンドエンジニアとして活動しているハンドルネーム「うらばん」のポートフォリオサイト兼Web技術の実験場です。これまでやってきたことの紹介をはじめとして、これまで身につけたWeb技術や個人事業主としての情報を蓄積していきたいと思います。</li>
                <li>PCとスマートフォン両方に対応していますが、Microsoftがサポート終了を宣言したInternet Explorer8以下のブラウザには対応しておりません。</li>
                <li>フロントエンド環境はGulp、Sass、EJS。JavaScriptのライブラリはjQuery。サーバーはAmazon Web ServicesのS3とRoute53を利用しております。S3を使っているのと自分が専門外という理由から、サーバーサイドプログラムやデータベースの類は一切利用しておりません。</li>
            </ul>
        </div>
    </section>
</li>