<% include common/_head %>

<% include common/_header %>

<% include common/_nav %>

    <div class="wrapper">
        <main class="main">
            <% include intro/_intro_top %>
        </main>

        <div class="side_content">
            <% include common/_sidebar %>
        </div>
    </div>

<% include common/_script %>