<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>uraban.info（建設予定地）</title>
<meta name="description" content="フロントエンドエンジニアうらばんのポートフォリオ兼実験場（建設予定地）">
<meta name="author" content="うらばん">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="asset/css/common.min.css">
<link rel="shortcut icon" href="asset/img/ico/favicon.ico">
</head>
<body>

<article>
    <div class="wrapper">
        <section>
            <h1>uraban.info（建設予定地）</h1>
            <p>フロントエンドエンジニアうらばんのポートフォリオ兼実験場（＋AWSのテスト）</p>
            <div class="image">
                <img src="asset/img/main_image.png" width="300" height="300" alt="うらばん">
            </div>
        </section>
    </div>
</article>

</body>
</html>