%cleafix {
    *zoom: 1;
    &:before,&:after {
    	content: "";
    	display: table;
    }
    &:after {
    	clear: both;
    }
}

%bablock {
    content: "";
    display: block;
    position: absolute;
}

%triangle {
	@extend %bablock;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}