@charset "utf-8";
@import "_extend";

.header {
    width: 100%;
    min-width: 1000px;
    box-sizing: border-box;
    background: $base_color;
    .header_inner {
        margin: 0 auto;
        padding: 10px;
        width: 1000px;
        box-sizing: border-box;
        h1 {
            font-size: 2.4rem;
            color: $header_text_color;
            line-height: 1.4;
            font-weight: bold;
        }
        .summary {
            font-size: 1.4rem;
            color: $header_text_color;
            line-height: 1.4;
        }
        .sp_profile_button {
            display: none;
        }
        .profile {
            margin-top: 10px;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 4px 4px 1px rgba(0,0,0,0.6);
            background: $white_color;
            img {
                margin: 0 auto;
                display: block;
            }
            dl {
                margin-top: 10px;
                dt,dd {
                    color: $base_text_color;
                    line-height: 1.4;
                }
                dt {
                    padding-left: 8px;
                    font-size: 1.3rem;
                    font-weight: bold;
                    position: relative;
                    &:before {
                        width: 0;
                        height: 0;
                        content: "";
                        position: absolute;
                        top: 4px;
                        left: 0;
                        border: transparent solid 4px;
                        border-left: $base_color solid 6px ;
                    }
                }
                dd {
                    margin-left: 8px;
                    font-size: 1.2rem;
                }
            }
        }
    }
}
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
    @import "_extend_sp";
    .header {
        min-width: 320px;
        background: none;
        .header_inner {
            padding: 0 0 4px;
            width: 100%;
            background: $white_color;
            h1 {
                padding: 0 8px;
                width: 100%;
                height: 48px;
                font-size: 2.2rem;
                line-height: 48px;
                font-weight: bold;
                box-sizing: border-box;
                background: $base_color;
            }
            .summary {
                margin: 4px 8px 0;
                font-size: 1.2rem;
            }
            .sp_profile_button {
                width: 32px;
                height: 32px;
                display: block;
                position: absolute;
                top: 8px;
                right: 12px;
                overflow: hidden;
                text-indent: 100%;
                white-space: nowrap;
                background: #000000;
            }
            .profile {
                margin-top: 0;
                padding: 20px 10px 0;
                width: 250px;
                height: 100%;
                position: fixed;
                top: 0;
                left: -260px;
                border-radius: 0;
                box-sizing: border-box;
                box-shadow: 4px 4px 1px rgba(0,0,0,0.6);
                z-index: 2;
                dl {
                    dt {
                        padding-left: 9px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        &:before {
                            border: transparent solid 5px;
                            border-left: $base_color solid 7px ;
                        }
                    }
                    dd {
                        margin-left: 9px;
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .profile_btn {
            @extend %slide_btn;
            left: 5px;
            @include sprite($sprite-profile);
        }
        .profile_back {
            @extend %slide_back;
            &:before,&:after { right: 15px; }
            &:before { top: -1px; }
            &:after { top: 20px; }
        }
    }
}