@charset "utf-8";

.header {
    padding: 10px;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: $base_color;
    h1 {
        font-size: 1.8rem;
        color: $header_text_color;
        line-height: 1.4;
        font-weight: bold;
    }
    .summary {
        margin-top: 10px;
        font-size: 1.0rem;
        color: $header_text_color;
        line-height: 1.4;
    }
    .profile {
        margin-top: 10px;
        padding: 10px;
        content: "pc";
        border-radius: 4px;
        box-shadow: 4px 4px 1px rgba(0,0,0,0.6);
        background: $white_color;
        img {
            margin: 0 auto;
            display: block;
        }
        dl {
            margin-top: 10px;
            dt,dd {
                color: $base_text_color;
                line-height: 1.4;
            }
            dt {
                font-size: 1.2rem;
                font-weight: bold;
            }
            dd {
                font-size: 1.1rem;
            }
        }
    }
}
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) { 
    .header {
        padding: 6px 60px;
        width: 100%;
        height: 60px;
        position: static;
        box-sizing: border-box;
        background: $base_color;
        h1 {
            font-size: 1.8rem;
            line-height: 1.0;
        }
        .summary {
            margin-top: 2px;
            line-height: 1.2;
        }
        .profile {
            margin-top: 0;
            padding: 20px 10px 0;
            width: 250px;
            height: 100%;
            content: "sp";
            position: fixed;
            top: 0;
            left: -260px;
            border-radius: 0;
            box-sizing: border-box;
            box-shadow: 4px 4px 1px rgba(0,0,0,0.6);
            z-index: 2;
            dl {
                dt {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
                dd {
                    margin-left: 10px;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .profile_btn {
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        display: none;
        position: fixed;
        top: 5px;
        left: 5px;
        border-radius: 4px;
        cursor: pointer;
        @include sprite($sprite-profile);
        background-color: rgba(61,61,61,0.7);
    }
    .profile_back {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 1;
        &:before,&:after {
            content: "";
            width: 30px;
            height: 30px;
            text-indent: -9999px;
            position: absolute;
            right: 15px;
            border-right: $back_text_color solid 3px;
        }
        &:before {
            top: -1px;
            transform: rotate(45deg);
        }
        &:after {
            top: 20px;
            transform: rotate(-45deg);
        }
    }
}