@charset "utf-8";

.nav {
    width: 100%;
    min-width: 1000px;
    border-top: $nav_border_color solid 1px;
    border-bottom: $nav_border_color solid 1px;
    background: $white_color;
    ul {
        margin: 0 auto;
        width: 1000px;
        height: 50px;
        display: flex;
        li {
            width: 25%;
            height: 50px;
            color: $nav_normal_color;
            line-height: 50px;
            text-align: center;
            box-sizing: border-box;
            cursor: pointer;
            border-left: $nav_border_color solid 1px;
            &:nth-last-child(1) {
                border-right: $nav_border_color solid 1px;
            }
            span {
                padding: 0 0 0 30px;
                font-size: 1.6rem;
                display: inline-block;
                position: relative;
                &:before {
                    @extend %bablock;
                    top: 12px;
                    left: 0;
                }
            }
            &.intro span:before { @include sprite($sprite-icon-intro); }
            &.web span:before { @include sprite($sprite-icon-web); }
            &.biz span:before { @include sprite($sprite-icon-biz); }
            &.other span:before { @include sprite($sprite-icon-other); }
        }
    }
}
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) { 
    @import "_extend";
    .nav {
        width: 200px;
        top: 0;
        right: -260px;
        z-index: 2;
        ul {
            width: 200px;
            li {
                margin: 0 0 1px;
                padding: 0 0 0 24px;
                width: 200px;
            }
        }
    }
    .menu_btn {
        @extend %slide_btn;
        right: 5px;
        @include sprite($sprite-menu);
    }
    .menu_back {
        @extend %slide_back;
        &:before,&:after { left: -6px; }
        &:before { top: -1px; }
        &:after { top: 20px; }
    }
}