@charset "utf-8";

.nav {
    width: 180px;
    position: fixed;
    top: 50px;
    right: 0;
    ul {
        width: 180px;
        position: relative;
        overflow: hidden;
        li {
            margin: 0 0 10px;
            padding: 0 0 0 24px;
            width: 180px;
            height: 40px;
            font-size: 1.4rem;
            line-height: 22px;
            position: relative;
            left: 10px;
            box-sizing: border-box;
            box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
            border-top: transparent solid 10px;
            border-bottom: transparent solid 10px;
            border-left-style: solid;
            border-left-width: 5px;
            background: $nav_color;
            cursor: pointer;
            &.intro { border-left-color: $nav_intro_color; }
            &.web { border-left-color: $nav_web_color; }
            &.biz { border-left-color: $nav_biz_color; }
            &:before {
                margin: auto;
                width: 6px;
                height: 6px;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 10px;
                border-top: $nav_arrow_color solid 2px;
                border-left: $nav_arrow_color solid 2px;
                transform: rotate(-45deg);
            }
        }
    }
}