@charset "utf-8";

//pcNavHover用
.navBefore:before { animation: navBefore 0.2s ease-in 0s 1 normal; }
.navAfter:before { animation: navAfter 0.1s ease-out 0s 1 normal;}

@keyframes navBefore {
    0%{ transform: rotate3d(0,1,0,0deg); }
    95%{ transform: rotate3d(0,1,0,90deg); }
    100%{ transform: rotate3d(0,1,0,90deg); }
}

@keyframes navAfter {
    0%{ transform: rotate3d(0,1,0,270deg); }
    95%{ transform: rotate3d(0,1,0,360deg); }
    100%{ transform: rotate3d(0,1,0,360deg); }
}

.navEnter { animation: navEnter 0.3s ease-in 0s 1 normal; }

@keyframes navEnter {
    0%{
        color: $nav_normal_color;
        background: $white_color;
    }
    95%{
        color: $white_color;
        background: $nav_border_color;
    }
    100%{
        color: $white_color;
        background: $nav_border_color;
    }
}

.navLeave { animation: navLeave 0.3s ease-in 0s 1 normal; }

@keyframes navLeave {
    0%{
        color: $white_color;
        background: $nav_normal_color;
    }
    95%{
        color: $nav_border_color;
        background: $white_color;
    }
    100%{
        color: $nav_border_color;
        background: $white_color;
    }
}