@charset "utf-8";

.section_block {
    margin: 0 0 16px 16px;
    padding: 16px;
    position: relative;
    border-radius: 6px;
    box-shadow: 1px 1px 1px $shadow_color;
    background: $white_color;
    h3 {
        padding-left: 16px;
        font-size: 1.6rem;
        line-height: 1.4;
        position: relative;
        &:before {
            @extend %bablock;
            width: 32px;
            height: 2px;
            top: 9px;
            left: -32px;
            background: $tree_color;
        }
        &:after {
            @extend %bablock;
            width: 8px;
            height: 8px;
            top: 4px;
            left: 0;
            border-radius: 12px;
            border: $tree_color solid 2px;
            background: $white_color;
            z-index: 1;
        }
    }
    .section_parts {
        margin-left: 5px;
        padding: 8px 0 16px;
        position: relative;
        border-left: $tree_color solid 1px;
        &:before {
            @extend %bablock;
            width: 1px;
            height: 8px;
            top: -8px;
            left: -1px;
            background: $tree_color;
        }
        &:after {
            @extend %bablock;
            width: 1px;
            height: 16px;
            bottom: 0;
            left: -1px;
            background: linear-gradient(to bottom, $tree_color, $white_color);
        }
    }
}

.basic_list {
    padding: 0 0 0 24px;
    > li {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 1.4;
        position: relative;
        &:nth-child(1) {
            margin-top: 0;
        }
        &:before {
            @extend %bablock;
            width: 12px;
            height: 1px;
            top: 9px;
            left: -24px;
            background: $tree_color;
        }
        &:after {
            @extend %bablock;
            width: 5px;
            height: 5px;
            top: 6px;
            left: -12px;
            border-radius: 12px;
            border: $tree_color solid 1px;
            background: $white_color;
            z-index: 1;
        }
    }
}