/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-icon-biz-off-name: 'sprite-icon_biz_off';
$sprite-icon-biz-off-x: 1735px;
$sprite-icon-biz-off-y: 296px;
$sprite-icon-biz-off-offset-x: -1735px;
$sprite-icon-biz-off-offset-y: -296px;
$sprite-icon-biz-off-width: 48px;
$sprite-icon-biz-off-height: 48px;
$sprite-icon-biz-off-total-width: 1787px;
$sprite-icon-biz-off-total-height: 1687px;
$sprite-icon-biz-off-image: '../img/sprite.png';
$sprite-icon-biz-off: (1735px, 296px, -1735px, -296px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_biz_off', );
$sprite-icon-biz-on-name: 'sprite-icon_biz_on';
$sprite-icon-biz-on-x: 1687px;
$sprite-icon-biz-on-y: 248px;
$sprite-icon-biz-on-offset-x: -1687px;
$sprite-icon-biz-on-offset-y: -248px;
$sprite-icon-biz-on-width: 48px;
$sprite-icon-biz-on-height: 48px;
$sprite-icon-biz-on-total-width: 1787px;
$sprite-icon-biz-on-total-height: 1687px;
$sprite-icon-biz-on-image: '../img/sprite.png';
$sprite-icon-biz-on: (1687px, 248px, -1687px, -248px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_biz_on', );
$sprite-icon-intro-off-name: 'sprite-icon_intro_off';
$sprite-icon-intro-off-x: 1687px;
$sprite-icon-intro-off-y: 344px;
$sprite-icon-intro-off-offset-x: -1687px;
$sprite-icon-intro-off-offset-y: -344px;
$sprite-icon-intro-off-width: 48px;
$sprite-icon-intro-off-height: 48px;
$sprite-icon-intro-off-total-width: 1787px;
$sprite-icon-intro-off-total-height: 1687px;
$sprite-icon-intro-off-image: '../img/sprite.png';
$sprite-icon-intro-off: (1687px, 344px, -1687px, -344px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_intro_off', );
$sprite-icon-intro-on-name: 'sprite-icon_intro_on';
$sprite-icon-intro-on-x: 1687px;
$sprite-icon-intro-on-y: 200px;
$sprite-icon-intro-on-offset-x: -1687px;
$sprite-icon-intro-on-offset-y: -200px;
$sprite-icon-intro-on-width: 48px;
$sprite-icon-intro-on-height: 48px;
$sprite-icon-intro-on-total-width: 1787px;
$sprite-icon-intro-on-total-height: 1687px;
$sprite-icon-intro-on-image: '../img/sprite.png';
$sprite-icon-intro-on: (1687px, 200px, -1687px, -200px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_intro_on', );
$sprite-icon-other-off-name: 'sprite-icon_other_off';
$sprite-icon-other-off-x: 1735px;
$sprite-icon-other-off-y: 200px;
$sprite-icon-other-off-offset-x: -1735px;
$sprite-icon-other-off-offset-y: -200px;
$sprite-icon-other-off-width: 48px;
$sprite-icon-other-off-height: 48px;
$sprite-icon-other-off-total-width: 1787px;
$sprite-icon-other-off-total-height: 1687px;
$sprite-icon-other-off-image: '../img/sprite.png';
$sprite-icon-other-off: (1735px, 200px, -1735px, -200px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_other_off', );
$sprite-icon-other-on-name: 'sprite-icon_other_on';
$sprite-icon-other-on-x: 1735px;
$sprite-icon-other-on-y: 344px;
$sprite-icon-other-on-offset-x: -1735px;
$sprite-icon-other-on-offset-y: -344px;
$sprite-icon-other-on-width: 48px;
$sprite-icon-other-on-height: 48px;
$sprite-icon-other-on-total-width: 1787px;
$sprite-icon-other-on-total-height: 1687px;
$sprite-icon-other-on-image: '../img/sprite.png';
$sprite-icon-other-on: (1735px, 344px, -1735px, -344px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_other_on', );
$sprite-icon-web-off-name: 'sprite-icon_web_off';
$sprite-icon-web-off-x: 1735px;
$sprite-icon-web-off-y: 248px;
$sprite-icon-web-off-offset-x: -1735px;
$sprite-icon-web-off-offset-y: -248px;
$sprite-icon-web-off-width: 48px;
$sprite-icon-web-off-height: 48px;
$sprite-icon-web-off-total-width: 1787px;
$sprite-icon-web-off-total-height: 1687px;
$sprite-icon-web-off-image: '../img/sprite.png';
$sprite-icon-web-off: (1735px, 248px, -1735px, -248px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_web_off', );
$sprite-icon-web-on-name: 'sprite-icon_web_on';
$sprite-icon-web-on-x: 1687px;
$sprite-icon-web-on-y: 296px;
$sprite-icon-web-on-offset-x: -1687px;
$sprite-icon-web-on-offset-y: -296px;
$sprite-icon-web-on-width: 48px;
$sprite-icon-web-on-height: 48px;
$sprite-icon-web-on-total-width: 1787px;
$sprite-icon-web-on-total-height: 1687px;
$sprite-icon-web-on-image: '../img/sprite.png';
$sprite-icon-web-on: (1687px, 296px, -1687px, -296px, 48px, 48px, 1787px, 1687px, '../img/sprite.png', 'sprite-icon_web_on', );
$sprite-menu-name: 'sprite-menu';
$sprite-menu-x: 1687px;
$sprite-menu-y: 0px;
$sprite-menu-offset-x: -1687px;
$sprite-menu-offset-y: 0px;
$sprite-menu-width: 100px;
$sprite-menu-height: 100px;
$sprite-menu-total-width: 1787px;
$sprite-menu-total-height: 1687px;
$sprite-menu-image: '../img/sprite.png';
$sprite-menu: (1687px, 0px, -1687px, 0px, 100px, 100px, 1787px, 1687px, '../img/sprite.png', 'sprite-menu', );
$sprite-profile-name: 'sprite-profile';
$sprite-profile-x: 1687px;
$sprite-profile-y: 100px;
$sprite-profile-offset-x: -1687px;
$sprite-profile-offset-y: -100px;
$sprite-profile-width: 100px;
$sprite-profile-height: 100px;
$sprite-profile-total-width: 1787px;
$sprite-profile-total-height: 1687px;
$sprite-profile-image: '../img/sprite.png';
$sprite-profile: (1687px, 100px, -1687px, -100px, 100px, 100px, 1787px, 1687px, '../img/sprite.png', 'sprite-profile', );
$sprite-twitterlogo-name: 'sprite-twitterlogo';
$sprite-twitterlogo-x: 0px;
$sprite-twitterlogo-y: 0px;
$sprite-twitterlogo-offset-x: 0px;
$sprite-twitterlogo-offset-y: 0px;
$sprite-twitterlogo-width: 1687px;
$sprite-twitterlogo-height: 1687px;
$sprite-twitterlogo-total-width: 1787px;
$sprite-twitterlogo-total-height: 1687px;
$sprite-twitterlogo-image: '../img/sprite.png';
$sprite-twitterlogo: (0px, 0px, 0px, 0px, 1687px, 1687px, 1787px, 1687px, '../img/sprite.png', 'sprite-twitterlogo', );
$spritesheet-width: 1787px;
$spritesheet-height: 1687px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-icon-biz-off, $sprite-icon-biz-on, $sprite-icon-intro-off, $sprite-icon-intro-on, $sprite-icon-other-off, $sprite-icon-other-on, $sprite-icon-web-off, $sprite-icon-web-on, $sprite-menu, $sprite-profile, $sprite-twitterlogo, );
$spritesheet: (1787px, 1687px, '../img/sprite.png', $spritesheet-sprites, );


