@charset "utf-8";

//ベースカラー
$body_color: #fefefe;
$base_color: #333333;
$white_color: #ffffff;
$tree_color: #dfd000;

//テキストカラー
$base_text_color: #333333;

//ナビゲーションカラー
$nav_normal_color: rgba(255,255,255,0.9);
$nav_normal_text_color: $tree_color;
$nav_hover_color: rgba(223,208,0,0.9);
$nav_hover_text_color: $white_color;

//プロフィールカラー
$profile_back_color: rgba(255,255,255,0.7);

//リストマーカーカラー
$list_basic_color: #dddddd;
$list_arrow_color: #cccccc;

//サイドカラー
$side_background_color: $base_color;
